.btn-allobat {
    color: #6f42c1;           /* Warna teks ungu */
    border-color: #6f42c1;    /* Warna border ungu */
    background: #77d2d0;      /* Background hijau */
}
.btn-allobat:hover {
    color: white;
    background: #77d2d0; /* Background hijau saat hover */
}